<ion-header>
  <ion-toolbar>
    <ion-title slot="start" class="gradientText">
      My Account
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon src='assets/img/shadecart.svg' (click)="displayCart()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="logo">
    <ion-col size='12' class="ion-align-self-center">
      <img src="assets/img/placeholderPerson.svg" alt="logo">
      <h1 class="username gradientText" [innerHTML]="username"></h1> <!-- value == username -->
    </ion-col>
  </ion-row>

  <ion-list>
    <h4>General</h4>
    <ion-item  (click)="deleteCourses()">
      <ion-label>Clear all courses</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list>
    <h4>Legal Informations</h4>
    <ion-item (click)="about('about')">
      <ion-label>About Cericoil</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"> </ion-icon>
    </ion-item>
    <ion-item (click)="intelProperty('intelProperty')">
      <ion-label>Intellectual Property Policy</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-col size="12">
    <ion-button class="logout" (click)="logout()" expand="block"><p class="androidLetterSpacing">Log Out</p></ion-button>
  </ion-col>

</ion-content>
