.header-md::after
{
    display: none;
}

ion-header
{
    ion-toolbar
    {
        --border-style: none;
        padding: 2vw 2vw 0 2vw;
        ion-title
        {
            font-family: poppins-semibold;
            font-size: large;
        }
        ion-buttons
        {

          margin-right: 5%;
            ion-icon
            {
              font-size: xx-large;
            }
        }
    }
}

ion-content
{
    .logo
    {
        height: 40%;
        text-align: center;
    }
    .username
    {
        font-size: xx-large;
        font-family: poppins-semibold;
    }
}

ion-list
{
    margin: 0 3vw;
    h4
    {
        padding-left: 6vw;
    }
}


.gradientText
{
    background: -webkit-gradient(linear, left top, right bottom, from(#8A04ED), color-stop(0.25, #8A04ED), color-stop(0.5, #0094fc), color-stop(0.75, #00B297), to(#00B297));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}