<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="close()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="logo">
    <ion-col size='12' class="ion-align-self-center">
      <img src="assets/img/logo/128.svg" alt="logo">
      <h1 class="appName gradientText">Cericoil</h1>
    </ion-col>
  </ion-row>

  <ion-row class="form">
    <ion-col class="text" size='12'>
      <h4>You forgot your Password ?</h4>
      <p [ngClass]="isErrorMail ? 'hidden' : 'hidden'">Please enter your email</p>
    </ion-col>
    
    <ion-col size='12'>

      <ion-item class="emailContainer">
        <ion-label position="floating" class="gradientText">Email</ion-label>
        <ion-input class="email gradientText" type="email"  [(ngModel)]="emailer" [value]="emailer"></ion-input>
      </ion-item>

    </ion-col>

    <ion-col size="12">
      <ion-button (click)="presentToast()" class="basicLogin" expand="block"><p class="androidLetterSpacing">Reset Password</p></ion-button>
    </ion-col>
  </ion-row>

</ion-content>
