.header-md::after
{
    display: none;
}
.pTheme{
    font-size: small;
}
ion-header
{
    ion-toolbar
    {
        --border-style: none;
        padding: 2vw 2vw 0 0;
        ion-searchbar
        {
            padding: 0 5vw;
            --border-radius: 15vw;
            --placeholder-color: #0094fc;
            font-family: poppins-medium;
        }
        ion-buttons
        {

            margin-right: 5%;
            ion-icon
            {
              font-size: xx-large;
            }
        }
    }
}

.title-section
{
    margin-top:22%;
}
.cardCourse{
    width:95%;
    height: auto;
    font-size:9px;
    text-align: center;
    border : 1mm ridge black;
    margin-top: 6px; 
    
    
    .imageCourse{
      width:45%;
      
      img{
        width:96%;
         border-radius: 5%;
        
      }
      height:70px;

    }
}
.categorieName{
    font-size: 12px!important;
   border:2px solid black;
   width:100%;
    margin-top: 3%;
  text-align: center;
}
.noteCourse
{
    width:20%;
    margin-top:-256px;
    margin-left: 55%;
   
}

.gradientText
{
    background: -webkit-gradient(linear, left top, right bottom, from(#8A04ED), color-stop(0.25, #8A04ED), color-stop(0.5, #0094fc), color-stop(0.75, #00B297), to(#00B297));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}