<ion-content>

  <ion-row class="logo">
    <ion-col size='12' class="ion-align-self-center">
      <img src="assets/img/logo/128.svg" alt="logo">
      <h1 class="appName gradientText">Cericoil</h1>
    </ion-col>
  </ion-row>

  <ion-row class="form">
    <ion-col size='12'>

      <ion-item class="username">
        <ion-label position="floating" class="gradientText">Username</ion-label>
        <ion-input type="text" class="gradientText" [(ngModel)]="user.nom"></ion-input>
      </ion-item>

      <ion-item class="email">
        <ion-label position="floating" class="gradientText">Email</ion-label>
        <ion-input (keydown)="checkEmail()" type="email" class="gradientText" [(ngModel)]="user.email"></ion-input>
      </ion-item>

      <ion-item class="password">
        <ion-label position="floating" class="gradientText">Password</ion-label>
        <ion-input type="password" class="gradientText" [(ngModel)]="user.password"></ion-input>
      </ion-item>

      <ion-item class="repassword">
        <ion-label position="floating" class="gradientText">Re-Password</ion-label>
        <ion-input type="password" class="gradientText" [(ngModel)]="user.confirmPass"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-button [disabled]="isErrorMail || user.confirmPass.trim() != user.password.trim() || !user.confirmPass.trim() || user.confirmPass.trim().length < 5 || user.nom.trim().length < 5" (click)="register()" class="basicLogin" expand="block"><p class="androidLetterSpacing">Register</p></ion-button >
    </ion-col>

  </ion-row>

  <p class="registerTag">You already have any account ? <a routerLink="/login" class="gradientText">Login</a></p>
  
</ion-content>
