.header-md::after
{
    display: none;
}

ion-header
{
    ion-toolbar
    {
      --border-style: none;
      padding: 2vw 2vw 0 2vw;
      ion-title
      {
        font-family: poppins-semibold;
        font-size: large;
      }
      ion-buttons
      {
        margin-right: 5%;
          ion-icon
          {
            font-size: xx-large;
          }
      }
    }
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
ion-content{
  margin-top: 3%;
  .row{
  margin-bottom: -12%;

  }
  
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 12px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}
.imgPromo{
  width:90%;
  height:30%;
  margin-left:6%;
  border-radius: 10px;
  background-color: rgb(247, 233, 215);
 

}
.categorieName{
margin-top: 20px;
  font-size: 15px;
  background: -webkit-gradient(linear, left top, right bottom, from(#8A04ED), color-stop(0.25, #8A04ED), color-stop(0.5, #0094fc), color-stop(0.75, #00B297), to(#00B297));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cardCourse{
  width:95%;
  height: 160px;;
  font-size:9px;
  text-align: center;
  
  
  .title-note{
    margin-top:-25%;
  }
  .imageCourse{
    width:100%;
    img{
      width:96%;
       border-radius: 5%;
      border:solid linear-gradient(to right, #8A04ED, #0073ff, #0094fc, #00a7c4, #00B297) 2px; 
    }
    height:70px;
    
   
    

  }
  img{
    object-fit: cover;
    width:100%;
    transform :scale(1.1,1.1) rotate (1deg);
    transition: 600ms all ease-in-out;
  }
}
#container a {
  text-decoration: none;
}

.gradientText 
{
    background: -webkit-gradient(linear, left top, right bottom, from(#8A04ED), color-stop(0.25, #8A04ED), color-stop(0.5, #0094fc), color-stop(0.75, #00B297), to(#00B297));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}