<ion-header>
  <ion-toolbar>
    <ion-title slot="start" class="gradientText">
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon src='assets/img/shadecart.svg' (click)="displayCart()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
