<ion-header>
  <ion-toolbar>
    <ion-title slot="start" class="gradientText">
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon src='assets/img/shadecart.svg' (click)="displayCart()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-row class="row" *ngFor="let feed of feeds">
    <ion-title class='categorieName'>{{feed.category.name}}</ion-title>
    <ion-slides [options]="option" class="ion-margin-top">
      <ion-slide>

        <ion-row class="cardCourse" routerLink="./item-details" routerDirection="forward">
        <ion-row>
          <ion-col class="imageCourse">
            <img [src]="feed.category.course.urlToImage" />
          </ion-col>

        </ion-row>
        <ion-row class="title-note">
          <ion-col>
            <p class='titleCourse'>{{feed.category.course.title}}</p>
          </ion-col>
          <ion-col>
            <img class="noteCourse" [src]="feed.category.course.urlNotation" />
          </ion-col>
</ion-row>
        </ion-row>


      </ion-slide>
    </ion-slides>

  </ion-row>
</ion-content>