<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="close()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


// Show if isEmptyCart == true
<ion-content [fullscreen]="true">

  <ion-row class="container">
    <ion-col>
      <img src="assets/img/shadecart.svg" alt="cartIcon" class="icon">
    </ion-col>
  </ion-row>

  <ion-row class="container2">
    <ion-col>
      <p><strong class="closeLink">Your cart is empty</strong></p>
      <p (click)="close()"><u class="closeLink">Start looking for your next course !</u></p>
    </ion-col>
  </ion-row>

</ion-content>

<ion-content class="hidden">
  //Show if isEmptyCart == false
  </ion-content>
  
  
  
  <ion-footer [fullscreen]="true" class="">
    <!-- Show if isEmptyCart == false -->
    <ion-row class="toPay">
      <ion-col>
        <p>total:</p>
        <p ></p>
      </ion-col>
      <ion-col>
          <ion-button  size="medium" color="light"(click)="buyCourse()">
           <p>buy</p>
          </ion-button>
        
      </ion-col>
    </ion-row>
    
  
  </ion-footer>
